body{
      background-image: url(images.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    margin: auto;
}
table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        border: 1px solid rgb(113, 121, 166);          
      }
    

td {
        border: 1px solid #a8bce9;
        text-align: left;
        padding: 8px;
      }
      
tr:nth-child(even) {
        background-color: #c0ccecce;
      }
